.row
  .five.columns
    = render(:partial => 'shared/errors', :locals => {:object => @album})
    %h1 Album
    = form_for @album do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :image
      = f.text_field :image
      - Song.order(:name). each do |song|
        - if song.name != nil
          = check_box_tag 'album[song_ids][]', song.id, song.in?(@album.songs.to_a)
          %span= song.name
          %br
      = f.submit nil, :class => 'button radius'
  .seven.columns