<div class="row">
  <div class="three columns">
    <h1 id='logo'>TUNR</h1>
  </div>
  <div class="nine columns">
    <ul class="nav-bar right">
      <li><%= link_to('Home', root_path) %></li>
      <li><%= link_to('Genres', genres_path) %></li>
      <li><%= link_to('Artists', artists_path) %></li>
      <li><%= link_to('Albums', albums_path) %></li>
      <%== intellinav %>
    </ul>
  </div>
</div>