= form_tag login_path, :remote => true do
  = label_tag :email
  = text_field_tag :email
  = label_tag :password
  = password_field_tag :password
  = button_to_function('Cancel', 'cancel_form()')
  = submit_tag 'Start Flirting'