%h1 WDI Bank

%h3 Checking
#checkingbalance
= text_field_tag 'checking'
= submit_tag 'deposit', :id => 'checkingdeposit'
= submit_tag 'withdraw', :id => 'checkingwithdraw'
%h3 Savings
#savingsbalance
= text_field_tag 'savings'
= submit_tag 'depost', :id => 'savingsdeposit'
= submit_tag 'withdraw', :id => 'savingswithdraw'