= form_for @user, :url => subscribers_path, :remote => true do |f|
  = f.label :username
  = f.text_field :username
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = button_to_function('Cancel', 'cancel_form()', :class => 'button round alert tiny')
  = f.submit nil, :class => 'button round success tiny'