= form_for @album, :remote => true do |f|
  = f.label :name
  = f.text_field :name
  = link_to('Cancel', '#', :'data-clear-form' => true, :class => 'button round alert tiny')
  = f.submit nil, :class => 'button round success tiny'