- if @auth.present?
  .row
    .large-5.columns
      = link_to 'Refresh Channels', refresh_channels_path, :class => 'button round tiny', :remote => true
      = form_for @channel, :remote => true do |f|
        = f.text_field :name, :placeholder => 'Name'
        = f.submit 'Add Channel', :class => 'button small success', :id => 'add_channel'
      #channel_list
        = render 'channels/list'
    .large-7.columns
      = form_tag '#', :remote => true, :id => 'chat_form' do
        = text_field_tag :message, nil, :placeholder => 'enter text here'
        = submit_tag 'Send'
      #chat_window
  .row
    .large-12.columns
      = form_tag '#', :remote => true, :id => 'game_form' do
        = hidden_field_tag :user_id, @auth.id
        = submit_tag 'Start Game', :class => 'button success'
  .row
    .large-4.columns
      .panel.hide
        #player_list
        #letter_board
    .large-8.columns
      #board
