#users
  %table
    - @users.each do |user|
      %tr
        %td
          - if user.is_admin
            .alert.label= user.name
          - else
            .success.label= user.name
        %td= image_tag user.image
        %td= number_to_currency(user.balance) if !user.is_admin
        %td= button_to 'Delete', user, :method => :delete, :confirm => 'Are you sure?', :class => 'button radius tiny' if user != @auth
