.row
  .five.columns
    %h1 Artist
    = form_for @artist do |f|
      = f.label :name
      = f.text_field :name, :autofocus => true
      = f.label :image
      = f.text_field :image
      = f.submit nil, :class => 'button radius'
  .seven.columns