.row
  .twelve.columns
    %h2
      = @artist.name
      = link_to('Edit', edit_artist_path) if is_admin
    = image_tag @artist.image, :class => 'show'
    %ul.lists
      %li
        = "Albums: "
        - @artist.albums.each do |album|
          %ul
            %li= link_to(album.name, album)
    = link_to 'Back to Artists', artists_path