<!DOCTYPE html>
<html>
<head>
  <title>Scrabble-Rousers</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='navbar'><%= render 'layouts/nav' %></div>
  <div id='content'><%= yield %></div>

</body>
</html>
