%script
  var priorities = [];
.row
  .twelve.columns
    %ul#priorities
      - @priorities.each do |priority|
        %li.priorityli
          %script
            = "priorities.push({id:#{priority.id}, name:'#{priority.name}', value:#{priority.value}, color:'#{priority.color}'});"
          .priority
            = image_tag 'famfamfam/icons/accept.png', :class => 'up'
            = image_tag 'famfamfam/icons/delete.png', :class => 'down'
          .priority.color= priority.color
          .priority.name= priority.name
          .priority.hide.value= priority.value
          .priority.hide.id= priority.id
          .clear
%br
.row
  .three.columns
    .controls
      .new
        = button_tag 'New Priority', :id => 'new_priority', :class => 'button radius success tiny'
      .form.hide
        = form_tag do
          = text_field_tag 'color', nil, :class => 'minicolors'
          = label_tag 'name'
          = text_field_tag 'name'
          = label_tag 'value'
          = text_field_tag 'value'
          = hidden_field_tag 'id'
          = link_to('Cancel', '#', :id=>'cancel_priority', :class => 'button radius tiny alert')
          = submit_tag 'Create New Priority', :id => 'create_priority', :class => 'button radius tiny'
          = submit_tag 'Edit Priority', :id => 'update_priority', :class => 'button radius success tiny'
  .nine.columns